/* Reset CSS */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/*
1. Vi tri
2. Kich thuoc (width, height)
3. Mau sac
4. Kieu dang
*/
.clear {
	clear: both;
}

.text-white {
	color: white !important;
}

.text-center {
	text-align: center !important;
}

.row {
	margin-left: -8px;
	margin-right: -8px;
}

.row::after {
	content: "";
	display: block;
	clear: both;
}

.col {
	float: left;
	padding-left: 8px;
	padding-right: 8px;
}

.col-full {
	width: 100%;
}

.col-third {
	width: calc(100% / 3);
}

.mt-8 {
	margin-top: 8px !important;
}

.mt-16 {
	margin-top: 16px !important;
}

.col-half {
	width: 50%;
}

/*Main*/

#main {

}

html{
	font-family: Arial;
	scroll-behavior: smooth;
}

#main{

}

#header{
	height: 46px;
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

#nav {
	display: inline-block;
}

#nav, .subnav{
	list-style-type: none;
}

#nav > li {
	display: inline-block;
}

#nav li{
	position: relative;
}

#nav > li > a {
	color: white;
	text-transform: uppercase;
}

#nav li a {
	text-decoration: none;
	line-height: 46px;
	padding-left: 24px;
	padding-right: 24px;
	display: block;
}

#nav > li:hover > a {
	color: black;
	background-color: #ccc;
}

#nav li:hover .subnav {
	display: block;
}

#nav .subnav{
	display: none;
	min-width: 160px;
	top: 100%;
	position: absolute;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#nav .subnav a {
	color: black;
	padding: 0 16px;
	line-height: 38px;
}

#nav .subnav li:hover {
	color: black;
	background-color: #ccc;
}

#nav .nav-arrow-down {
	font-size: 14px;
}

#header .search-btn {
	float: right;
	padding: 0 21px;
}

#header .search-btn:hover {
	background-color: red;
	cursor: pointer;
}

#header .search-icon{
	color: #fff;
	font-size: 17px;
	line-height: 46px;
}

/*Slider*/

#slider{
	margin-top: 46px;
	padding-top: 50%;
	position: relative;
	background: url('assets/img/slider1.jpg') top center / cover no-repeat;
}


#slider .text-content {
	position: absolute;
	bottom: 47px;
	color: white;
	width: 100%;
	text-align: center;
}

#slider .text-heading {
	font-weight: 500;
	font-size: 24px;
	margin: 25px;
}

#slider .text-description {
	font-size: 15px;
}

/*Content*/

#content {
	height: 1000px;
}

#content .content-section{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 64px 0 112px;
}

#content .section-heading{
	text-align: center;
	font-weight: 300;
	margin: 10px;
	font-size: 30px;
}

#content .section-sub-heading{
	text-align: center;
	font-style: italic;
	color: gray;
	font-size: 15px;
}

#content .about-text{
	margin: 15px;
	box-sizing: inherit;
	line-height: 1.5;
	text-align: justify;
	font-size: 15px;
}
#content .members-list {
	margin-top: 48px;
	overflow: hidden;
}

#content .members-item {
	text-align: center;
	margin-bottom: 16px;
}

#content .members-name {
	font-size: 15px;
}

#content .members-img {
	margin-top: 15px;
	width: 154px;
	border-radius: 4px;
}

/*tuor section*/

.tour-section {
	background-color: black;
	padding: 48px;
}

.tour-section .section-heading {
	color: white;
}

.tickets-list {
	background-color: white;
	margin-top: 40px;
	list-style: none;
}

.tickets-list li {
	font-size: 15px;
	padding: 11px 15px;
	border-bottom: 1px solid #ddd;
	color: grey;
}

.tickets-list .sold-out {
	background-color: red;
	padding: 0px 8px;
	margin-left: 16px;
	color: white;
	font-size: 17px;
}

.tickets-list .quantity {
	float: right;
	margin-right: 16px;
	background-color: black;
	border-radius: 50%;
	padding: 2px 7px;
	color: white;
	margin-top: -2px;
}

.places-list {
	overflow: hidden;
	margin-top: 32px;
	/*margin-bottom: 48px;
*/	/*padding: 32px;*/
}

.places-item {
	width: calc(100% / 3);

}

.places-img {
	width: 100%;
	display: block;
}

.places-img:hover {
	opacity: 0.6;
}

.place-body {
	background-color: white;
	font-size: 15px;
	padding: 16px;
}

.place-heading {
	font-weight: 650;
}

.place-time {
	color: grey;
	margin-top: 15px;
}

.place-description {
	margin-top: 15px;
	line-height: 1.4;
}

.place-buy-btn {
	background-color: black;
	padding: 11px 16px;
	color: white;
	text-decoration: none;
	/*margin-bottom: 10px;*/
	display: inline-block;
	margin-top: 15px;
}

.place-buy-btn:hover {
	color: black;
	background-color: #ccc;
}

.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.4);
	display: none;
	align-items: center;
	justify-content: center;
}

.modal.open {
	display: flex;
}

.modal-container {
	background-color: white;
	width: 900px;
	max-width: calc(100% - 50px);
	min-height: 200px;
	position: relative;
	animation: modalFadeIn ease 0.4s;
}

.modal-close {
	position: absolute;
	right: 0;
 	top: 0;
 	color: white;
 	padding: 12px;
}

.modal-close:hover {
	color: black;
	opacity: 1;
	background-color: grey;
}

header.modal-header {
	background-color: #009688;
	height: 130px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	/*margin: 10px 0;*/
	color: white;
}

.modal-header .ti-bag {
	margin-right: 16px;
}

.modal-body {
	padding: 16px;
}

.modal-body .modal-label {
	display: block;
	font-size: 15px;
	margin-bottom: 12px;
}

.modal-input {
	border:  1px solid #ccc;
	width: 100%;
	padding: 10px;
	font-size: 15px;
	margin-bottom: 24px;
}

#buy-tickets {
	background-color: #009688;
	width: 100%;
	border: none;
	padding: 18px 0;
	color: white;
	font-size: 15px;
	cursor: pointer;
}

#buy-tickets:hover {
	opacity: 0.9;
}

.modal-footer {
	float: right;
	padding: 16px;
	font-size: 15px;
	margin: 15px 0;
}

.help {
	color: #2196F3;
}


@keyframes modalFadeIn {
	from {
		opacity: 0;
		transform: translateY(-140px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.contact-content {
	margin-top: 48px;
}

.left-side {
	font-size: 18px;
	line-height: 1.5;
}

.left-side i[class*="ti-"] {
	width: 30px;
	display: inline-block;
}

.right-side {
	font-size: 15px;
}

.right-side .form-control {
	padding: 8px;
	width: 100%;
	border: 1px solid #ccc;
}

.right-side .form-submit-btn {
	float: right;
	padding: 8px 16px;
	background-color: black;
	color: white;
	text-transform: uppercase;
	font-size: 15px !important;
	border: none;
	cursor: pointer;
}

.right-side .form-submit-btn:hover {
	background-color: grey;
	color: black;
}

/*map section*/
.map-section img {
	width: 100%;
}

#footer {
	padding: 64px 16px;
	text-align: center;
}

#footer .socials-list {
	font-size: 22px;

}

#footer .socials-list a {
	color: grey;
	text-decoration: none;
}

#footer .socials-list a:hover {
	opacity: 0.3;
}

#footer .copyright {
	margin: 15px 0;
	color: grey;
}

.w3-link {
	color: grey;
}

